{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <style type="text/css">
    
    </style>
    
    <!--<link rel="stylesheet" href="./menu.css" type="text/css" />-->
    {% block commu %}
    

    {% endblock %}
    
    <title>Kids, Welcome!</title>
  </head>
  
  <body>
    <header>
    <nav class="nav">
      <div class="mr-3"> 
      <a class="nav-link active fff" href="{% url 'main' %}"> 
      <img id="logo"
      src="/static/image/logo.png" height="100" >
      </a>
      </div>
      <a class="nav-link active fff" href="{% url 'main' %}">메인</a>
      <a class="nav-link" href="{% url 'mapp' %}">안내</a>
      <a class="nav-link" href="{% url 'babyinfo' %}">육아 정보</a>
      <a class="nav-link" href="{% url 'commu' %}">커뮤니티</a>
    </nav>
    </header>

    {% block content %}
          
          
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<style>
  .nav{
    position: relative;
  }
  .butt{
    border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  padding: 9px 20px 9px 20px;
  
  cursor: pointer;
  border-radius: 10px;
  width:auto;
  height: auto;
  background-color: #FFE484;
  
 
  
    
  }
</style>