{% extends 'base.html' %}
{% block content %}

<div style="text-align: center; font-family: 'yg-jalnan'">
    <fieldset>
    <legend><h1>키즈존 입력</h1></legend>
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>키즈존 이름</label><br>
        <input type="text" name="title" required><br><br>
        
        <label>장소</label><br>
        <input type="text" name="location" required><br><br>
        
        <label>설명</label><br>
        <textarea name="description" required></textarea><br>
        
        <label>비밀번호</label><br>
        <input type="password" name="password" required><br><br>
        
         <labels>사진</label>
        <input type="file"  alt="" width="200" height="100" name="image_upload" ><br><br>
        
        <input type="submit" class="btn btn-primary" value="등록">
    </form>
    </fieldset>
</div>

{% endblock %}