{% extends 'base.html' %}

{% block content %}
<div class="container">
<head>
  <title>milk</title>
</head>
<body>
  <h2>순서</h2>
  <nav>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link ">분유 타는 방법</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" >분유 종류</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">동영상</a>
  </li>
  
</ul>
</nav>
<div id="method">
    <h3>분유 제작 방법</h3>
    <p>분유분유  이래저래저래이래 <strong>강조</strong>.<br /><br /> 이래이래이래저래저래</p>
    <a href="https://m.blog.naver.com/PostView.nhn?blogId=dgd1005&logNo=220707620416&proxyReferer=https%3A%2F%2Fwww.google.com%2F"
    target="_blank">자세한 정보 링크</a></a>
    
  </div>
<div id="Species">
    <h3>종류</h3>
    <ul>
        
      <li>설사 분유</li>
      <a>이러이러한 종류이다</a>
      <li>부분가수분해 분유</li>
      <a>이러이러한 종류이다</a>
      <li>완전가수분해 분유</li>
      <a>이러이러한 종류이다</a>
      <li>아미노산 분유</li>
      <a>이러이러한 종류이다</a>
      <li>대두단백 분유</li>
      <a>이러이러한 종류이다</a>
      <li>산양 분유</li>
      <a>이러이러한 종류이다</a>
    </ul>
    
    
  </div>

</div>
{% endblock content %}

  